<div class="row">
  {% for item in menu_items %}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
  <div class="row g-0 align-items-center">
    <div class="col-4 col-md-5 ps-2" style="overflow:hidden;">
      <img src="{{ item.image_url|default('/static/menu-default.jpg') }}" class="img-fluid rounded" alt="{{ item.title }}" style="object-fit:cover; width:100%; height:110px;">
    </div>
    <div class="col-8 col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <a href="tel:{{ item.phone|default('+94771234567') }}" class="btn btn-outline-success mt-2">මිල ගණන් සඳහා අමතන්න</a>
      </div>
    </div>
  </div>
</div>
    </div>
  {% endfor %}
</div>
